@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// html {
//   font-size: 62.5%;
// }

:root {
  /*  light theme */
  --color-text-light: rgb(19, 18, 18);
  --color-background-light:#FAF4E5;
  --color-pink-light: #e5a1aa;
  --color-green-light:#7ad0ac;
  --color-blue-light: #8395cd;


    /*  dark  theme */
    --color-text-dark: #FAF4E5;
    --color-background-dark:#080808; 
}

.light-theme {
  --color-text: var(--color-text-light);
  --color-background: var(--color-background-light);
  
  --color-pink: var( --color-pink-light);
  --color-green: var(--color-green-light);
  --color-blue: var(--color-blue-light)
}

.dark-theme {
  --color-text: var(--color-text-dark);
  --color-background: var(--color-background-dark);

  --color-pink: var( --color-text-dark);
  --color-green: var(--color-text-dark);
  --color-blue: var(--color-text-dark)
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: "Montserrat", sans-serif ;
}
